<h3 style="color: #16A085;"><% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %></h3>

<h1>Write a New Tweet</h1>
<form action='/tweets' method="POST">
  <label for="content">Tweet:</label>
  <input type="text" id="content" name="tweet[content]">
  <button type="submit" value="submit">Post Tweet</button>
</form>

<br><br>

<a href="/tweets">Home</a>  <b>|</b>  <a href="/users/<%= current_user.slug %>">My Tweets</a>  <b>|</b>  <a href="/logout">Log Out</a>
